@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
::-moz-selection {
  color: #ff0000;
}

html {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  scrollbar-color: red;
  padding: 0;
  margin: 0;
}
body nav {
  padding-top: 4em;
  padding-left: 6em;
  padding-right: 8em;
}
body nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body nav ul .logo .logo-img {
  height: 6em;
}
body nav ul .links {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  font-weight: 600;
}
body nav ul .socials {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}
body nav ul .socials img {
  height: em;
  transition: filter 0.15s ease-in;
}
body nav ul .socials img:hover {
  filter: invert(12%) sepia(95%) saturate(4333%) hue-rotate(356deg) brightness(114%) contrast(121%);
}
body nav ul a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.7rem;
  color: black;
  transition: color 0.15s ease-in;
}
body nav ul a:hover {
  color: red;
}
body .hero-text {
  height: 100%;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.6rem;
  line-height: 0.6em;
}
body .hero-text .top-line {
  margin-top: 2.8em;
}
body .hero-text .bottom-line {
  margin-bottom: 28vh;
}
body .hero-text span {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .hero-text h1 {
  font-family: "Amiri", serif;
  padding: 0;
  margin: 0.35em;
  font-weight: 400;
}
body section.more-info {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  padding: 1em;
  margin-bottom: 6em;
}
body section.more-info .info-box {
  height: 10vh;
  width: 20vw;
  line-height: 2rem;
  margin: 1em;
}
body section.more-info .margin-btm {
  margin-bottom: 8em;
}
body section.more-info h4 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
body section.more-info p {
  font-family: "Amiri", serif;
  font-size: 1.5rem;
  line-height: 1.625;
  letter-spacing: -0.025em;
}
body section.more-info p a {
  text-decoration: none;
  color: black;
}
body section.more-info .col-1 {
  gap: 7em;
  display: flex;
  flex-direction: column;
  text-align: left;
}
body section.more-info .col-2 {
  margin-left: 5em;
}
body section.more-info .col-2 img {
  height: 93vh;
  border-radius: 20em;
  padding: 1em;
  border: 1px solid #bcbcbc;
}
body section.more-info .col-3 {
  text-align: right;
  display: flex;
  flex-direction: column;
}
body section.more-info .col-3 p {
  font-size: 3rem;
}
body section.more-info .svg-decals-wifi {
  position: absolute;
  left: 25em;
  height: 10em;
  transform: rotate(-30deg);
}
body section.more-info .svg-decals-wifi path {
  fill: rgba(188, 188, 188, 0.2196078431);
}
body section.skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section.skills h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Amiri", serif;
  font-size: 4rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1em;
}
body section.skills .cards {
  display: flex;
  justify-content: space-around;
  width: 70em;
}
body section.skills .cards .skill-card {
  border-radius: 6em;
  background-color: rgba(188, 188, 188, 0.2196078431);
  height: 18em;
  width: 11em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body section.skills .cards .skill-card img {
  height: 6em;
  margin-top: 2.5em;
  filter: grayscale(100%);
  transition: filter 0.2s ease-in-out;
}
body section.skills .cards .skill-card img:hover {
  filter: grayscale(0%);
  -webkit-animation: bounce 0.7s 1;
          animation: bounce 0.7s 1;
}
body section.skills .cards .skill-card p {
  font-size: 2rem;
  font-family: "Amiri", serif;
  margin: 0;
  padding: 0;
}
body section.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  margin-bottom: 4em;
}
body section.contact-form h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Amiri", serif;
  font-weight: 400;
  font-size: 4rem;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5em;
}
body section.contact-form form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body section.contact-form form .contact-container {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
body section.contact-form form .name-div,
body section.contact-form form .email-div,
body section.contact-form form .subject-div,
body section.contact-form form .message-div,
body section.contact-form form .submit-div {
  width: 38vw;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
body section.contact-form form .name-div label,
body section.contact-form form .email-div label,
body section.contact-form form .subject-div label,
body section.contact-form form .message-div label,
body section.contact-form form .submit-div label {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
body section.contact-form form .name-div textarea,
body section.contact-form form .email-div textarea,
body section.contact-form form .subject-div textarea,
body section.contact-form form .message-div textarea,
body section.contact-form form .submit-div textarea {
  overflow: auto;
}
body section.contact-form form .name-div input,
body section.contact-form form .name-div textarea,
body section.contact-form form .email-div input,
body section.contact-form form .email-div textarea,
body section.contact-form form .subject-div input,
body section.contact-form form .subject-div textarea,
body section.contact-form form .message-div input,
body section.contact-form form .message-div textarea,
body section.contact-form form .submit-div input,
body section.contact-form form .submit-div textarea {
  padding: 0.6em;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  resize: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
body section.contact-form form .name-div input:focus,
body section.contact-form form .name-div textarea:focus,
body section.contact-form form .email-div input:focus,
body section.contact-form form .email-div textarea:focus,
body section.contact-form form .subject-div input:focus,
body section.contact-form form .subject-div textarea:focus,
body section.contact-form form .message-div input:focus,
body section.contact-form form .message-div textarea:focus,
body section.contact-form form .submit-div input:focus,
body section.contact-form form .submit-div textarea:focus {
  outline: none;
  background-color: rgba(188, 188, 188, 0.1254901961);
}
body section.contact-form form .name-div .submit,
body section.contact-form form .email-div .submit,
body section.contact-form form .subject-div .submit,
body section.contact-form form .message-div .submit,
body section.contact-form form .submit-div .submit {
  background-color: rgba(255, 0, 0, 0.8705882353);
  color: white;
  border-radius: 0.3em;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0em);
    transform: scale(1.05);
  }
  20% {
    transform: translateY(0.7em);
  }
  40% {
    transform: translateY(-0.7em);
  }
  60% {
    transform: translateY(0.5em);
  }
  80% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateX(0em);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0em);
    transform: scale(1.05);
  }
  20% {
    transform: translateY(0.7em);
  }
  40% {
    transform: translateY(-0.7em);
  }
  60% {
    transform: translateY(0.5em);
  }
  80% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateX(0em);
  }
}/*# sourceMappingURL=styles.css.map */